/*
/.*

!/.bashrc
!/.bash_aliases
!/.bash_env
!/.inputrc
!/.sbtrc
!/.zshrc
!/.zsh_aliases
!/.screenrc
!/.tmux.conf
!/.vimrc
!/.vim
!/.vimprojects
!/.ibus
!/.ctags
!/.gitignore
!/.ssh
!/.fonts
!/.gitconfig
!/.externals
!/.tmux-powerlinerc
!/.byobu
!/bin
!/.gemrc
!/.emerald
!/.setup.sh

/.byobu/.ssh-agent
/.vim/bundle
/.vim/backup/*
!/.vim/backup/.gitkeep
/.vim/.VimballRecord
/.vim/.netrwhist
/.fonts/*
/.ssh/*
!/.ssh/*.pub
!/.ssh/*/*.pub
!/.ssh/configs/public
/.emerald/themes/
/.emerald/packages/

