[submodule ".vim/neobundle"]
	path = ~/.vim/neobundle
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "/home/hitoshi/.vim/neobundle"]
	path = /home/hitoshi/.vim/neobundle
	url = https://github.com/Shougo/neobundle.vim.git
