[user]
        name = ASAI Hitoshi
        email = service@2-17.com
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[push]
        default = simple
