/*
/.*

!/.bashrc
!/.bash_aliases
!/.bash_env
!/.inputrc
!/.sbtrc
!/.zshrc
!/.zsh_aliases
!/.screenrc
!/.vimrc
!/.vim
!/.vimprojects
!/.ibus
!/.ctags
!/.gitignore

/.vim/bundle
/.vim/.VimballRecord
/.vim/.netrwhist

