[user]
        name = ASAI Hitoshi
        email = hitoasa@gmail.com
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
        s = status -s -b -uall
        co = checkout
        cob = checkout -b
        a = add
        ai = add -i
        ap = add -p
        f = fetch
        m = merge
        b = branch -v

[push]
        default = simple
[color]
	ui = auto
[fetch]
	prune = true
