/*
/.*

!/.bashrc
!/.bash_aliases
!/.bash_env
!/.inputrc
!/.sbtrc
!/.zshrc
!/.zsh_aliases
!/.screenrc
!/.tmux.conf
!/.vimrc
!/.vim
!/.vimprojects
!/.ibus
!/.ctags
!/.gitignore
!/.ssh
!/.fonts
!/.gitconfig

/.vim/bundle
/.vim/backup/*
/.vim/.VimballRecord
/.vim/.netrwhist
/.fonts/*
/.ssh/id_rsa
/.ssh/aws
/.ssh/known_hosts
/.ssh/authorized_keys
